numpy
cython
pyworld
scipy
torch
torchaudio
soundfile
librosa
scikit-learn
numba
inflect
tqdm
anyascii
pyyaml
fsspec
aiohttp
packaging
mutagen
flask
pysbd
umap-learn
pandas
matplotlib
trainer
coqpit
jieba
pypinyin
hangul_romanize
gruut[de,es,fr]
jamo
nltk
g2pkk
bangla
bnnumerizer
bnunicodenormalizer
einops
transformers
encodec
unidecode
num2words
spacy[ja]
